<template>
<v-container fluid>
  <div id="nodesMap" class="nodes-map"></div>
</v-container>
</template>

<script>
import config from '@/config'
import leaflet from 'leaflet'

function onViewReset(e) {
  console.log(`View reset to: ${e.bounds}`)
}

function onMoveEnd(e) {
  console.log(`Moved to to bounds:${e.bounds}`)
}

export default {
  name: 'NodeMap',

  props: {
    selectMode: Boolean,
    zoomLevel: {
      type: String,
      default() {
        return '13'
      }
    }
  },

  mounted() {
    var startingLatlng = [55.5938, 13.0068]
    var maxBounds = leaflet.latLngBounds(
      leaflet.latLng(58.107, 8.020),
      leaflet.latLng(53.950, 19.644)
    )

    var leafletMap = leaflet.map('nodesMap').setView(startingLatlng, this.zoomLevel)

    leaflet.tileLayer(config.tileLayerUrl, {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      maxBounds: maxBounds,
      id: config.mapboxId,
      accessToken: config.mapboxAccessToken
    }).addTo(leafletMap)

    leafletMap.on('dragend', (e) => {
      var left = leafletMap.getBounds().getWest()
      var bottom = leafletMap.getBounds().getSouth()
      var right = leafletMap.getBounds().getEast()
      var top = leafletMap.getBounds().getNorth()

      // TODO: emit event to parent component
      console.log(`left:${left}, bottom:${bottom}, right:${right}, top:${top}`)
    })
  },
}
</script>

<style lang="scss" scoped>
.nodes-map {
  height: 100%;
  width: 100%;
  z-index: 0;
}
</style>
