<template>
  <v-app>

    <v-navigation-drawer 
      v-model="drawer"
      app
      floating
      permanent
      expand-on-hover>
      <v-list dense rounded>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>add_location</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Tipsa om Cash-ställe</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-show="false">
          <v-list-item-icon>
            <v-icon>info</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Info</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-show="false">
          <v-list-item-icon>
            <v-icon>filter_list</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Filtrera</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click.stop="syncNodes">
          <v-list-item-icon>
            <v-icon :class="{ 'spinning-loader': syncStatus == 'loading' }">sync</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Hämta ställen</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-content>
      <leaflet-map class="nodes-map" :items="nodes"></leaflet-map>
    </v-content>

  </v-app>
</template>

<script>
import {mapState} from 'vuex'
import LeafletMap from './components/LeafletMap.vue'

import { NODES_REQUEST } from '@/store/actions/osmNodes'

export default {
  name: 'app',

  components: {
    LeafletMap
  },

  data: () => ({
    nodes: [],
		drawer: false,
  }),

  computed: {
    ...mapState({
      syncStatus: state => state.osmNodes.requestStatus
    })
  },

  methods: {
    syncNodes() {
      // 
    }
  },

}
</script>
